{% extends 'layout.html.twig' %}

{% block content %}
  <div class = "index_list">
    <div class="col-xs-8 col-xs-offset-2">
             <div class = "filters">
                <form action="#" method="get" id="searchForm" class="input-group">
                    <input type="text" class="form-control" name="search_all" placeholder="Busque algo...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                           Filtrar
                        </button>
                    </span>
                </form><!-- end form -->     
              </div>
            </div>


        <section id="container">

            <div class="wrap-container">
                <!-----------------Content-Box-------------------->
                <article class="single-post zerogrid">
                    <div class="row wrap-post"><!--Start Box-->
                        <div class="entry-header">
                            <h1 class="entry-title">Eventos cadastrados</h1>
                        </div>
                        <div class="entry-content">
                            <div class="excerpt">
                                 <div class="row">
                                    {% for evento in eventos %}
                                    <div class="col-sm-6 col-md-4">
                                    <div class="card hovercard">
                                       <img src="{{ evento.img_evento }}" alt="" width="300" height="200" />
                                       <div class="avatar">
                                          <img src="{{ evento.url_img }}" alt="" width="80" height="80"/>
                                       </div>
                                       <div class="info">
                                          <div class="title">
                                             <b>{{ evento.nome_evento }}</b>b<br/>
                                             {{ evento.nome_estabelecimento }}
                                          </div>
                                          <div class="desc"><b>Data:</b>
                                            {% if evento.data_evento %}{{ evento.data_evento|date('d/m/Y H:i') }}{% endif %}</div>
                                          <div class="desc"><b>Nota média: </b> {{ evento.nota_evento|rating }}</div>
                                          <div class="desc"><b>Comentários: </b>{{ evento.qtd_notas }}</div>
                                       </div>
                                       <div class="bottom">
                                          <a href="{{ path('evento_show', { 'id': evento.id }) }}"
                                             class="btn btn-primary" role="button">Veja mais...</a>
                                       </div>
                                    </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
</div>

{% endblock %}
