{% extends 'layout.html.twig' %}

{% block content %}
    <article class="single-post zerogrid">
        <div class="row wrap-post"><!--Start Box-->
        <div class="entry-header">
            <h1>{{ evento.nomeevento }}</h1>
            <img src="{{ evento.imgevento }}" id = "bar_img" class="img-responsive">
            <div class="entry-content">
                <div class="excerpt">
                <h3>Data do evento</h3>
                <p>{% if evento.dataevento %}{{ evento.dataevento|date('Y-m-d H:i:s') }}{% endif %}</p>

                <h3>Descricao do evento</h3>
                <p>{{ evento.descricaoevento }}</p>

                <h3>Nome do estabelecimento:</h3>
                <p> {{ evento.estabelecimentos.getNomeEstabelecimento() }} </p>
                </div>
        </div>
        </div>
    </article>
{% endblock %}