{% extends 'layout.html.twig' %}

{% block content %}
    <article class="single-post zerogrid">
        <div class="row wrap-post"><!--Start Box-->
        <div class="entry-header">
            <h1>{{ evento.nomeevento }}</h1>
            <h2>Nota média do evento: {{ media|rating }}</h2>
            <img src="{{ evento.imgevento }}" id = "bar_img" class="img-responsive">
            <div class="entry-content">
                <div class="excerpt">
                <br>
                <h3>Nome do estabelecimento:</h3>
                <abbr title="Clique para ir ao estabelecimento"><a class = "estabelecimento_evento" 
                       href="{{ path('estabelecimento_show', { 'id': evento.estabelecimentos.getId() }) }}">
                      <p> {{ evento.estabelecimentos.getNomeEstabelecimento() }} </p>
                </a></abbr>
                <h3>Data do evento</h3>
                <p>{% if evento.dataevento %}{{ evento.dataevento|date('d/m/Y H:i') }}{% endif %}</p>

                <h3>Descrição do evento</h3>
                <p>{{ evento.descricaoevento }}</p>
                </div>
        </div>
        </div>
            <div id="create_comment">
                <h1>Adicione o seu comentário</h1>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Comentar" />
                    {{ form_end(form) }}
            </div>

            {% if evento.getComentarioEvento() is not empty %}
            <div id="comments">
                    <h1>Comentarios para este evento</h1>
                    {% for comentario_evento in evento.getComentarioEvento() %}
                            <table>
                                <tr>
                                <td><h2><b>Autor: </b>{</h2><br/>
                                {{ comentario_evento.autor }}
                                <h2><b>Nota: </b>
                                {{ comentario_evento.nota|rating }}</h2></td>
                                </tr>
                                <tr>
                                <td><p><h2><b>Comentário:</b></h2>{{ comentario_evento.getTextoComentario() }}</p>
                                </br></td>
                                </tr>                       
                            </table>
                    {% endfor %}
                </div> 
            {% endif %}
    </article>

 <!--       <ul>
        <li>
            <a href="{{ path('evento_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('evento_edit', { 'id': evento.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul> -->
    <style type="text/css">
    article.single-post{
        margin-top: -40px;
    }
    abbr{
        text-decoration: underline;
    }
    #create_comment{
      margin-top: -30px;
    }
    </style>
{% endblock %}