{% extends 'layout.html.twig' %}

{% block content %}
        <!--////////////////////////////////////Filter search bar/////-->
            <div class="col-xs-8 col-xs-offset-2">
                <form action="#" method="get" id="searchForm" class="input-group">
                    
                    <div class="input-group-btn search-panel">
                        <select name="search_cidade" id="search_param" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <option value="all">Cidade</option>
                            {% for estabelecimento in estabelecimentos %}
                                <option value="{{ estabelecimento.cidade }}">{{ estabelecimento.cidade }}</option>
                            {% endfor %}
                        </select>
                        <select name="search_tipo" id="search_param" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <option value="all">Tipo de estabelecimento</option>
                            <option value="bar">Bar</option>
                            <option value="restaurante">Restaurante</option>
                            <option value="buteco">Buteco</option>
                        </select>
                         <select name="search_nota" id="search_param" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <option value="all">Por notas</option>
                            <option value="4">Maior que 4</option>
                            <option value="3">Menor que 3</option>
                            <option value="3_4">Entre 3 e 4</option>
                        </select>
                    </div>
                    <input type="text" class="form-control" name="x" placeholder="Search term...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                           <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </form><!-- end form -->     
            </div><!-- end col-xs-8 -->


        <section id="container">

            <div class="wrap-container">
                <!-----------------Content-Box-------------------->
                <article class="single-post zerogrid">
                    <div class="row wrap-post"><!--Start Box-->
                        <div class="entry-header">
                            <h1 class="entry-title">Estabelecimentos cadastrados</h1>
                        </div>
                        <div class="entry-content">
                            <div class="excerpt">
                            <table>
                            {% for estabelecimento in estabelecimentos %}
                            <TR class = "list_bar_line">
                                <TH class = "list_bar_title">
                                      <figure class = "list_bar_figure">
                                        <img class = "list_bar_icon" src="{{ estabelecimento.url_img }}" alt="ICON" width="250">
                                    </figure>

                                </TH>
                                    <td class = "list_bar_column">
                                    <a href="{{ path('estabelecimento_show', { 'id': estabelecimento.id }) }}">{{ estabelecimento.nome_estabelecimento }}</a></br>
                                        <b>Cidade:</b> {{ estabelecimento.cidade }}
                                        <b>Nota média: </b> <h2>{{ estabelecimento.nota_media|rating }}</h2>
                                        <b>Sobre:</b></br>
                                            {{ estabelecimento.descricao }}</br>
                                        </br>
                                    </td>
                                </TR>                               
                            </TR>
                            {% endfor %}
                            </table>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
{% endblock %}
