{% extends 'layout.html.twig' %}

{% block content %}
  <div class = "index_list">
        <!--////////////////////////////////////Filter search bar/////-->
            <div class="col-xs-8 col-xs-offset-2">
                <form action="#" method="get" id="searchForm" class="input-group">
                    
                    <div class="input-group-btn search-panel">
                        <select name="search_cidade" id="search_param" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <option value="">Por cidade</option>
                            <option value="Asa Norte">Asa Norte</option>
                            <option value="Asa Sul">Asa Sul</option>
                            <option value="Gama">Gama</option>
                            <option value="Taguatinga">Taguatinga</option>
                            <option value="Brazlândia">Brazlândia</option>
                            <option value="Sobradinho">Sobradinho</option>
                            <option value="Planaltina">Planaltina</option>
                            <option value="Paranoá">Paranoá</option>
                            <option value="Núcleo Bandeirante">Núcleo Bandeirante</option>
                            <option value="Cruzeiro">Cruzeiro</option>
                            <option value="Guará">Guará</option>
                            <option value="Lago Sul">Lago Sul</option>
                            <option value="Lago Norte">Lago Norte</option>
                            <option value="Águas Claras">Águas Claras</option>
                        </select>
                        <select name="search_tipo" id="search_param" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <option value="">Por tipo</option>
                            <option value="Bar">Bar</option>
                            <option value="Restaurante">Restaurante</option>
                            <option value="Buteco">Buteco</option>
                            <option value="Boate">Boate</option>
                        </select>
                         <select name="search_nota" id="search_param" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <option value="">Por notas</option>
                            <option value="4">Maior que 4</option>
                            <option value="3">Menor que 3</option>
                            <option value="3_4">Entre 3 e 4</option>
                        </select>
                        <button class="btn btn-default" type="submit">
                           <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </form><!-- end form -->     
            </div><!-- end col-xs-8 -->


        <section id="container">

            <div class="wrap-container">
                <!-----------------Content-Box-------------------->
                <article class="single-post zerogrid">
                    <div class="row wrap-post"><!--Start Box-->
                        <div class="entry-header">
                            <h1 class="entry-title">Estabelecimentos cadastrados</h1>
                        </div>
                        <div class="entry-content">
                            <div class="excerpt">
                                 <div class="row">
                                {% for estabelecimento in estabelecimentos %}
                                  <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail">
                                      <img src="{{ estabelecimento.url_img }}" alt="ICON">
                                      <div class="caption">
                                        <h3>{{ estabelecimento.nome_estabelecimento }}</h3>
                                          <b>Cidade:</b> {{ estabelecimento.cidade }}<br/>
                                          <b>Tipo: </b> {{ estabelecimento.tipoestabelecimento }} <br/>
                                          <b>Nota média: </b> {{ estabelecimento.nota_media|rating }}
                                          <p>{{ estabelecimento.descricao }}</p>
                                        <p><a href="{{ path('estabelecimento_show', { 'id': estabelecimento.id }) }}"
                                         class="btn btn-primary" role="button">Veja mais...</a>
                                           <!--<a href="#" class="btn btn-default" role="button">Button</a></p>-->
                                      </div>
                                    </div>
                                  </div>
                                  {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
</div>
{% endblock %}
