{% extends 'layout.html.twig' %}

{% block content %}
        <!--////////////////////////////////////Filter search bar/////-->
            <div class="col-xs-8 col-xs-offset-2">
                <form action="#" method="get" id="searchForm" class="input-group">
                    
                    <div class="input-group-btn search-panel">
                        <select name="search_cidade" id="search_param" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <option value="all">Cidade</option>
                            {% for estabelecimento in estabelecimentos %}
                                <option value="{{ estabelecimento.cidade }}">{{ estabelecimento.cidade }}</option>
                            {% endfor %}
                        </select>
                        <select name="search_tipo" id="search_param" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <option value="all">Tipo de estabelecimento</option>
                            <option value="bar">Bar</option>
                            <option value="restaurante">Restaurante</option>
                            <option value="buteco">Buteco</option>
                        </select>
                         <select name="search_nota" id="search_param" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <option value="all">Por notas</option>
                            <option value="4">Maior que 4</option>
                            <option value="3">Menor que 3</option>
                            <option value="3_4">Entre 3 e 4</option>
                        </select>
                    </div>
                </form><!-- end form -->     
            </div><!-- end col-xs-8 -->


        <section id="container">

            <div class="wrap-container">
                <!-----------------Content-Box-------------------->
                <article class="single-post zerogrid">
                    <div class="row wrap-post"><!--Start Box-->
                        <div class="entry-header">
                            <h1 class="entry-title">Estabelecimentos cadastrados</h1>
                        </div>
                        <div class="entry-content">
                            <div class="excerpt">
                                <div class="row">
                                {% for estabelecimento in estabelecimentos %}
                                  <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail">
                                      <img src="{{ estabelecimento.url_img }}" alt="ICON" width="250">
                                      <div class="caption">
                                        <h3>{{ estabelecimento.nome_estabelecimento }}</h3>
                                          <b>Cidade:</b> {{ estabelecimento.cidade }}<br/>
                                          <b>Nota média: </b> {{ estabelecimento.nota_media|rating }}<br/>
                                        <p>{{ estabelecimento.descricao }}</p>
                                        <p><a href="{{ path('estabelecimento_show', { 'id': estabelecimento.id }) }}"
                                         class="btn btn-primary" role="button">Ver este {{ estabelecimento.tipo_estabelecimento }}</a>
                                      </div>
                                    </div>
                                  </div>
                                  {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
{% endblock %}
