{% extends 'layout.html.twig' %}

{% block content %}
<section id="container">
    <div class="wrap-container">
    <!-----------------Content-Box-------------------->
    <article class="single-post zerogrid">
        <div class="row wrap-post"><!--Start Box-->
        <div class="entry-header">
            <h1>{{ estabelecimento.nomeestabelecimento }}</h1>
            <img src="{{ estabelecimento.urlimg }}" id = "bar_img" class="img-responsive" alt="">
        </div>
    <div class="entry-content">
        <div class="excerpt">
            
                <h2>Endereco</h2>
                <p>{{ estabelecimento.endereco }}</p>
            
            
                <h2>Cidade</h2>
                <p>{{ estabelecimento.cidade }}</p>
            
            
                <h2>Tipo_estabelecimento</h2>
                <p>{{ estabelecimento.tipoestabelecimento }}</p>
            
            
                <h2>Endereco</h2>
                <p>{{ estabelecimento.endereco }}</p>
            
            
                <h2>Email</h2>
                <p>{{ estabelecimento.email }}</p>
            
            
                <h2>Cnpj</h2>
                <p>{{ estabelecimento.cnpj }}</p>
            
            
                <h2>Telefone</h2>
                <p>{{ estabelecimento.telefone }}</p>
            
            
                <h2>Descricao</h2>
                <p>{{ estabelecimento.descricao }}</p>

                <div id="comments">
                    <h2>Comentarios para este estabelecimento</h2>
                    {% for comentario in estabelecimento.comentario %}
                            <table>
                                
                                <tr>
                                <td><h1>{{ comentario.autor }}</h1> <h2>{{ comentario.nota }}</h2></td>
                                </tr>
                                <tr>
                                <td>{{ comentario.getTextoComentario() }}</br></td>
                                </tr>                       
                            </table>
                    {% endfor %}
                </div>





                <div id="test">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Create" />
                    {{ form_end(form) }}
                </div>
            
<!--
    <ul>
        <li>
            <a href="{{ path('estabelecimento_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('estabelecimento_edit', { 'id': estabelecimento.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul> -->
    </div>
    </div>
    </article>
    </div>
</section>
{% endblock %}