{% extends 'layout.html.twig' %}

{% block content %}
<div id = "estabelecimento_show">
<section id="container">
    <div class="wrap-container">
    <!-----------------Content-Box-------------------->

    <div id = "estabelecimento_show">
    <article class="single-post zerogrid">
        <div class="row wrap-post"><!--Start Box-->
        <div class="entry-header">
            <h1>{{ estabelecimento.nomeestabelecimento }}</h1>
            <h2>Nota média do estabelecimento: {{ media|rating }}</h2>
            <img src="{{ estabelecimento.urlimg }}" id = "bar_img" class="img-responsive" alt="">
        </div>
    <div class="entry-content">
        <div class="excerpt">        
                <h2>Endereco</h2>
                <p>{{ estabelecimento.endereco }}</p>

                <h2>Cidade</h2>
                <p>{{ estabelecimento.cidade }}</p>
            
            
                <h2>Tipo de estabelecimento</h2>
                <p>{{ estabelecimento.tipoestabelecimento }}</p>
            
            
            
                <h2>Email</h2>
                <p>{{ estabelecimento.email }}</p>
            
            
                <h2>Cnpj</h2>
                <p>{{ estabelecimento.cnpj }}</p>
            
            
                <h2>Telefone</h2>
                <p>{{ estabelecimento.telefone }}</p>
            
            
                <h2>Descrição</h2>
                <p>{{ estabelecimento.descricao }}</p>

                <div id="create_comment">
                <h1>Adicione o seu comentário</h1>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Comentar" />
                    {{ form_end(form) }}
                </div>

                {% if estabelecimento.comentario is not empty %}
                <div id="comments">
                    <h1>Comentarios para este estabelecimento</h1>
                    {% for comentario in estabelecimento.comentario %}
                            <table>
                                <tr>
                                <td><h2><b>Autor: </b>{{ comentario.autor }}</h2> <h2><b>Nota: </b>
                                {{ comentario.nota|rating }}</h2></td>
                                </tr>
                                <tr>
                                <td><p><h2><b>Comentário:</b></h2>{{ comentario.getTextoComentario() }}</p>
                                </br></td>
                                </tr>                       
                            </table>
                    {% endfor %}
                </div>
                {% endif %}

            {% if estabelecimento.evento is not empty %}
            <section class="content">
                <h1>Eventos deste estabelecimento</h1>
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-container">
                                <table class="table table-filter">
                                    <tbody>
                                        {% for evento in eventos %}
                                        <tr>
                                            <td>
                                                <div class="media">
                                                    <a href="{{ path('evento_show', { 'id': evento.id }) }}" class="pull-left">
                                                        <img src="{{ evento.img_evento }}" class="media-photo">
                                                    </a>
                                                    
                                                    <div class="media-body">
                                                        <span class="media-meta pull-right">{% if evento.data_evento %}{{ evento.data_evento|date('d-m-Y H:i:s') }}{% endif %}</span>
                                                        <h4 class="title">
                                                            <a href="{{ path('evento_show', { 'id': evento.id }) }}">
                                                            {{ evento.nome_evento }}
                                                            </a>
                                                            <span class="pull-right media">{{ evento.nota_evento|rating }}</span>
                                                        </h4>
                                                        <p class="summary">{{ evento.descricao_evento }}</p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {% endif %}
<!--
    <ul>
        <li>
            <a href="{{ path('estabelecimento_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('estabelecimento_edit', { 'id': estabelecimento.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
-->
    </div>
    </div>
    </article>
    </div>
</section>
</div>
{% endblock %}
