{% extends 'layout.html.twig' %}

{% block content %}
<div id = "estabelecimento_show">
<section id="container">
    <div class="wrap-container">
    <!-----------------Content-Box-------------------->

    <div id = "estabelecimento_show">
    <article class="single-post zerogrid">
        <div class="row wrap-post"><!--Start Box-->
        <div class="entry-header">
            <h1>{{ estabelecimento.nomeestabelecimento }}</h1>
            <h2>Nota média do estabelecimento: {{ media|rating }}</h2>
            <img src="{{ estabelecimento.urlimg }}" id = "bar_img" class="img-responsive" alt="">
        </div>
    <div class="entry-estab">
    <div class="entry-content">
        <div class="excerpt">        
                <h2>Endereço</h2>
                <p>{{ estabelecimento.endereco }}</p>

                <h2>Cidade</h2>
                <p>{{ estabelecimento.cidade }}</p>
            
            
                <h2>Tipo de estabelecimento</h2>
                <p>{{ estabelecimento.tipoestabelecimento }}</p>
            
            
                {% if estabelecimento.email is not empty %}
                <h2>Email</h2>
                <p>{{ estabelecimento.email }}</p>
            	{% endif %}

            
                {% if estabelecimento.cnpj is not empty %}
                <h2>Cnpj</h2>
                <p>{{ estabelecimento.cnpj }}</p>
            	{% endif %}
            
                <h2>Telefone</h2>
                <p>{{ estabelecimento.telefone }}</p>
            
            
                <h2>Descrição</h2>
                <p>{{ estabelecimento.descricao }}</p>

                <!--EVENTOS DESTE ESTABELECIMENTO-->
                            {% if estabelecimento.evento is not empty %}
                                <div class="row">
                                    <center>
                                        <div class="title_event"><h1>Eventos deste estabelecimento</h1></div>
                                    </center>
                                    {% for evento in eventos %}
                                    <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
                                        <ul class="event-list">
                                            <li>
                                                <time datetime="{% if evento.data_evento %}{{ evento.data_evento|date('d-m-Y H:i:s') }}{% endif %}">
                                                    <span class="day">{% if evento.data_evento %}{{ evento.data_evento|date('d') }}{% endif %}</span>
                                                    <span class="month">{% if evento.data_evento %}{{ evento.data_evento|date('F') }}{% endif %}</span>
                                                    <span class="year">{% if evento.data_evento %}{{ evento.data_evento|date('Y') }}{% endif %}</span>
                                                    <span class="time">{% if evento.data_evento %}{{ evento.data_evento|date('H:i:s') }}{% endif %}</span>
                                                </time>
                                                <img alt="{{ evento.nome_evento }}" src="{{ evento.img_evento }}" />
                                                <div class="info">
                                                    <a href="{{ path('evento_show', { 'id': evento.id }) }}">
                                                        <h2 class="title">{{ evento.nome_evento }}</h2>
                                                    </a>
                                                    <p class="desc"><b>Nota:</b> {{ evento.nota_evento|rating }}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                <!-------------------------------------------->

                <div id="create_comment">
                <h1>Adicione o seu comentário</h1>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Comentar" />
                    {{ form_end(form) }}
                </div>

                {% if estabelecimento.comentario is not empty %}
                <div id="comments">
                    <h1>Comentarios para este estabelecimento</h1>
                    {% for comentario in estabelecimento.comentario %}
                            <table>
                                <tr>
                                <td><h2><b>Autor: </b>{{ comentario.autor }}</h2> <h2><b>Nota: </b>
                                {{ comentario.nota|rating }}</h2></td>
                                </tr>
                                <tr>
                                <td><p><h2><b>Comentário:</b></h2>{{ comentario.getTextoComentario() }}</p>
                                </br></td>
                                </tr>                       
                            </table>
                    {% endfor %}
                </div>
                {% endif %}


 <!--   <ul>
        <li>
            <a href="{{ path('estabelecimento_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('estabelecimento_edit', { 'id': estabelecimento.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul> -->
    </div>
    </div>
    </div>
    </article>
    </div>
</section>
</div>
{% endblock %}
